<!-- Modal para agregar auto -->
<div class="modal" id="actMotosModal{{catalogo.id_moto}}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Actualizar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body - Formulario para agregar auto -->
            <div class="modal-body">
                <form action="{{url_for('actualizar_moto',id_moto=catalogo.id_moto)}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="act_modelo_moto">Modelo:</label>
                        <input type="text" class="form-control" id="act_modelo_moto" name="act_modelo_moto" value="{{catalogo.modelo_moto}}">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="act_año_moto" class="titulos">Año:</label>
                        <select name="act_año_moto" class="form-control" id="act_año_moto">
                            <option value="">{{catalogo.año_moto}}</option>                            
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                        
                    </div>
                    <div class="form-group">
                        
                    </div>
                    <div class="form-group">
                        <label for="gasolina">Gasolina:</label>
                        <div class="radio form-group">
                            <input type="radio" name="act_gasolina" id="act_magna{{catalogo.id_moto}}" value="Magna" {% if catalogo.gasolina == 'Magna' %} checked {% endif %}>
                            <label for="act_magna{{catalogo.id_moto}}">Magna</label>
                        
                            <input type="radio" name="act_gasolina" id="act_premium{{catalogo.id_moto}}" value="Premium" {% if catalogo.gasolina == 'Premium' %} checked {% endif %}>
                            <label for="act_premium{{catalogo.id_moto}}">Premium</label>
                        
                            <input type="radio" name="act_gasolina" id="act_disel{{catalogo.id_moto}}" value="Disel" {% if catalogo.gasolina == 'Disel' %} checked {% endif %}>
                            <label for="act_disel{{catalogo.id_moto}}">Disel</label>
                        </div>
                    </div>
                    <label for="transmision">Tipo de Transmisión:</label>
                        <div class="radio form-group">
                            <input type="radio" name="act_transmision" id="act_estandar{{catalogo.id_moto}}" value="Estandar" {% if catalogo.trasmision == 'Estandar' %} checked {% endif %}>
                            <label for="act_estandar{{catalogo.id_moto}}">Estandar</label>
                        
                            <input type="radio" name="act_trasmision" id="act_automatico{{catalogo.id_moto}}" value="Automatico" {% if catalogo.trasmision == 'Automatico' %} checked {% endif %}>
                            <label for="act_automatico{{catalogo.id_moto}}">Automatico</label>                                            
                        </div>
                        
                        <!--<label for="trasmision">Transimision:</label>
                        <input type="text" class="form-control" id="trasmision" name="trasmision" >-->
                    <div class="form-group">
                        <label for="act_marca">Marca:</label>
                        <input type="text" class="form-control" id="act_marca" name="act_marca" placeholder="{{catalogo.marca}}">
                        <div class="form-group">
                            <label for="act_descripcion">Descripcion:</label>
                            <textarea name="act_descripcion" class="form-control" id="act_descripcion" placeholder="{{catalogo.descripcion}}"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        
                        <label for="act_imagen">Imagen:</label>
                        <input type="file" id="act_imagen" name="act_imagen" multiple onchange="handleImageSelection(event)">
                        <div id="imagenPreview"></div>
                        <textarea id="imageList" name="imageList" style="display: none;"></textarea>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>

                    
            </div>

            </form>
        </div>

    </div>
</div>
</div>