{% extends 'base_admin.html' %}

{% block administrador %}
<div class="container">
  <p class="titulos_graficas">Autos con mayor prospeccion</p>
</div>
<div class="container mt-2">
  {{ graph_autos|safe }}
</div>
<div class="container mt-3">
  <div class="graficas row">
      <div class="col-md-6 shadow-lg">
          <!-- Gráfico de pastel de autos -->
          {{ graph_pastel_autos | safe }}
      </div>
      <div class="col-md-6 shadow lg">
          <!-- Gráfico de líneas -->
          {{ graph_lineas_autos | safe }}
      </div>
  </div>
</div>

<div class="container">
  <p class="titulos_graficas">Motos con mayor prospeccion</p>
</div>
<div class="container mt-2">
  {{ graph_motos|safe }}  <!-- Usa |safe para renderizar HTML sin escapar -->
  {{graph_lineas|safe}}
</div>

<div class="container mt-3">
  <div class="graficas row">
      <div class="col-md-6 shadow-lg">
          <!-- Gráfico de pastel de autos -->
          {{ graph_pastel_motos | safe }}
      </div>
      <div class="col-md-6 shadow lg">
          <!-- Gráfico de líneas -->
          {{ graph_lineas_motos | safe }}
      </div>
  </div>
</div>

{% endblock %}
