<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de acceso</title>
    <link rel="shortcut icon" href="/static/image/logo_meta.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style_admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

</head>
<body>
    {%block login%}
    
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/funcionts.js"></script>
</body>
</html>