
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E&A Fincompany</title>
    <link rel="shortcut icon" href="/static/image/logo_meta.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
        <a class="navbar-brand ms-4" href="#"><img src="/static/image/Logo_E&A_Fincompany.png" class="logo" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('gestion')}}">Gestión</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{url_for('financiamiento')}}" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Financiamiento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{url_for('financiamiento')}}">Automoviles</a>
                        <a class="dropdown-item" href="#">Motocicletas</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </nav>

    {% block contenido %}
    {% endblock %}

    <footer class="border-top p-3 " style=" margin-top:12em;">
        <div class="container" >
            <div class="row">
                <div class="col-sm-4">
                    <p class="titulo_footer">Contactos</p>
                    <p><a href="https://wa.me/527298621827?text=Hola,%20¿podría%20proporcionarme%20más%20información%20por%20favor?%20¡Gracias!" target="_blank">+52 7298621827</a>
                    </p>
                    <p><a href="mailto:atencionaclientes@eacompany.online?Subject=Infomacion%20de%20los%20financiamientos.">atencionaclientes@eacompany.online</a></p>

                </div>
                <div class="col-lg-4">
                    <p class="titulo_footer">Dirección</p>
                    <p><a href="https://maps.app.goo.gl/CnooikqY76jy9Btu8" target="_blank">Av. Sebastián Lerdo de Tejada
                            305.
                            Bo. de la Merced,
                            Toluca Mex.
                            Plaza Paseo Molino.</a></p>
                </div>
                <div class="col-lg-4">
                    <p class="titulo_footer text-center">Servicios</p>
                    <ul>
                        <ul class="menu_2"><a href="{{url_for('home')}}">Inicio</a></ul>
                        <ul class="menu_2"><a href="{{url_for('gestion')}}">Gestión</a></ul>
                        <ul class="menu_2"><a href="{{url_for('financiamiento')}}">Financiamiento</a></ul>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
   

    <script src="/static/js/calcular.js"></script>
    <script src="/static/js/funcionts.js"></script>
    <script src="{{url_for('static', filename='/js/sweetalert2@11.js')}}"></script>
    <script src="https://kit.fontawesome.com/b33479a588.js" crossorigin="anonymous"></script>
</body>

</html>
